<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" rel="stylesheet">
</head>
<head>
    <title>from 表单提交</title>
</head>
<>

<from class="form-signin" th:action="@{/user/login}">
<img class="mb-4" th:src="@{img/bootstrap-solid.svg}" alt="" width="72"height="72">
<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">please sign in</h1>

<label class="sr-only">Username</label>
    <input type="text" name="username" class="from-control" th:placeholder="#{login.username}" required="">
    <label class="sr-only">password</label>
    <input type="text" name="username" class="from-control" th:placeholder="#{login.password}" required="">
    <p style="color: red" th:text="${msg}"></p>

    <button class ="btn btn-lg  btn-primary btn-block" type="submit" th:text="#{login.btn}">Singin</button>
</from>
</body>
</html>