<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <insert id="save" >
        insert into userinforbyweb(username, usertel, usertest,usertype)
        VALUES (
        #{user.username},
        #{user.usertel},
        #{user.usertest},
        #{user.usertype}
        )
    </insert>

    <select id="selectroleByUserid">
        select * from role where userid=#{userid}
    </select>

    <!--<resultMap id="userMap" type="com.example.demo.bean.User">-->
        <!--<id property="userid" column="userid"></id>-->
        <!--<collection property="rolelist" column="userid" select="selectroleByUserid">-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--<select id="selectallTwo" parameterType="java.lang.String" resultMap="userMap">-->
        <!--SELECT * FROM user-->
    <!--</select>-->

    <select id="selectall" parameterType="java.lang.String" resultType="com.example.demo.bean.User">
        SELECT * FROM family_tablefather
    </select>
<!--通过姓名进行删除-->
    <delete id="deleteuserbyname" parameterType="java.lang.String">
            DELETE  FROM userinforbyweb WHERE username =#{username}
     </delete>
    <!--更新代码  更新这个数据库表-->

    <update id="updatatable"  parameterType="java.lang.String" >
        UPDATE family_table SET cardid ='200',name='safa',usertype='s'
    </update>

</mapper>