<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PpshopMenumMapper">
    <select id="resultlist" parameterType="java.lang.String"
            resultType="com.example.demo.bean.ppshopmenum">
        SELECT
            ppshopmenumname,
            ppshopmenumimage
        FROM ppshopmenu
    </select>


    <select id="ShopMenumbase" parameterType="java.lang.String"
            resultType="com.example.demo.bean.ppshopbean.ShopMenumbase">
        SELECT *
        FROM ppshop_menlist;
    </select>
    <select id="resultclasslist" parameterType="java.lang.String"
            resultType="com.example.demo.bean.ppshopbean.ShopMenunData">
        SELECT *
        FROM ppshop_menudatalist;
    </select>



    <select id="getMenum" parameterType="java.lang.String"
            resultType="com.example.demo.bean.familybean.PPMenumEntity">
        SELECT
        pp_menum_texttitle,
        pp_menum_textimage,
        pp_menum_state
        FROM ppshop_menum_title WHERE pp_menum_state=#{strType};
    </select>

    <!--获取数据-->
    <select id="ResultLikeData" parameterType="java.lang.String"
            resultType="com.example.demo.bean.familybean.PPMenumEntity">
        SELECT *

        FROM ppshop_menum_title;
    </select>

</mapper>