<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <insert id="save" >
        insert into userinforbyweb(username, usertel, usertest,usertype)
        VALUES (
        #{user.username},
        #{user.usertel},
        #{user.usertest},
        #{user.usertype}
        )
    </insert>


    <select id="selectall" parameterType="java.lang.String"
            resultType="com.example.demo.bean.User">
        SELECT * FROM  userinforbyweb
    </select>
<!--通过姓名进行删除-->
    <delete id="deleteuserbyname" parameterType="java.lang.String">
            DELETE  FROM userinforbyweb WHERE username =#{username}
     </delete>
    <!--查询单条通过用户的-->
    <select id="selectbyid"  parameterType="java.lang.String" resultType="com.example.demo.bean.User">
        SELECT * FROM userinforbyweb WHERE username=#{username}
    </select>

    <!--更新数据源-->
    <update id="update" parameterType="java.lang.String">
        UPDATE   userinforbyweb SET usertel=#{user.usertel},usertest=#{user.usertest},usertype=#{user.usertype} WHERE username=#{user.username}
    </update>

    <!--分页sql-->
    <select id="selectType" parameterType="java.lang.String"
            resultType="com.example.demo.bean.User">
        SELECT * FROM  userinforbyweb ORDER BY  userid asc
    </select>
</mapper>